<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booking Success</title>
</head>
<header class="bg-primary text-white p-3 d-flex justify-content-between align-items-center"> <!-- Синий фон и белый текст -->
    <h1>Welcome to the Rental Company</h1>
    <nav>
        <ul class="nav"> <!-- Стилизация навигации -->
            <li class="nav-item"><a class="nav-link text-white" th:href="@{/}">Home</a></li>
            <li class="nav-item"><a class="nav-link text-white" th:href="@{/cars/cars}">Cars</a></li>
            <li class="nav-item"><a class="nav-link text-white" th:href="@{/bookings}">Bookings</a></li>
            <li class="nav-item"><a class="nav-link text-white" th:href="@{/customers}">Customers</a></li>
            <li class="nav-item"><a class="nav-link text-white" th:href="@{/payments}">Payments</a></li>
            <li class="nav-item"><a class="nav-link text-white" th:href="@{/insurances}">insurances</a></li>
        </ul>
    </nav>
</header>
<body>

<h1>Booking Successful</h1>

<p th:text="${message}">Your booking has been successfully created.</p>

<!-- Кнопки или ссылки для навигации -->
<a th:href="@{/bookings}">View All Bookings</a> <!-- Ссылка на список всех бронирований -->
<br>
<a th:href="@{/}">Return to Home</a> <!-- Ссылка на главную страницу -->

</body>
</html>
