<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Car</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<header>
    <h1>Edit Car</h1>
</header>

<main>
    <form th:action="@{/cars/{id}/edit(id=${car.id})}" th:object="${car}" method="post">
        <div>
            <label for="brand">Brand:</label>
            <input type="text" id="brand" name="brand" th:field="*{brand}" />
        </div>

        <div>
            <label for="model">Model:</label>
            <input type="text" id="model" name="model" th:field="*{model}" />
        </div>

        <div>
            <label for="rental_price">Rental Price:</label>
            <form th:action="@{/cars/{id}/edit(id=${car.id})}" th:object="${car}" method="post">
                <div>
                    <label for="rental_price">Rental Price:</label>
                    <input type="text" id="rental_price" name="rental_price" th:field="*{rentalPrice}" /> <!-- Убедитесь, что имя совпадает -->
                </div>
            </form>

        </div>

        <div>
            <label for="year">Year:</label>
            <input type="text" id="year" name="year" th:field="*{year}" />
        </div>

        <div>
            <label for="status">Status:</label>
            <select id="status" name="status" th:field="*{status}">
                <option value="AVAILABLE">Available</option>
                <option value="UNAVAILABLE">Unavailable</option>
            </select>
        </div>

        <button type="submit">Update</button>
    </form>
</main>

<footer>
    <p>&copy; 2024 Rental Company. All rights reserved.</p>
</footer>
</body>
</html>
