<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer Detail</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<header class="bg-primary text-white p-3 d-flex justify-content-between align-items-center"> <!-- Синий фон и белый текст -->
    <h1>Welcome to the Rental Company</h1>
    <nav>
        <ul class="nav"> <!-- Стилизация навигации -->
            <li class="nav-item"><a class="nav-link text-white" th:href="@{/}">Home</a></li>
            <li class="nav-item"><a class="nav-link text-white" th:href="@{/cars/cars}">Cars</a></li>
            <li class="nav-item"><a class="nav-link text-white" th:href="@{/bookings}">Bookings</a></li>
            <li class="nav-item"><a class="nav-link text-white" th:href="@{/customers}">Customers</a></li>
            <li class="nav-item"><a class="nav-link text-white" th:href="@{/payments}">Payments</a></li>
            <li class="nav-item"><a class="nav-link text-white" th:href="@{/insurances}">insurances</a></li>
        </ul>
    </nav>
</header>
<body>
<div class="container my-5"> <!-- Отступы для контейнера -->
    <div class="card"> <!-- Используем карточку Bootstrap -->
        <div class="card-header">
            <h1 th:text="${customer.name}">Customer Name</h1> <!-- Имя клиента -->
        </div>
        <div class="card-body">
            <p>Contact Info: <span th:text="${customer.contactInfo}">Unknown</span></p> <!-- Информация о контакте -->

            <!-- Кнопка для возвращения к списку клиентов -->
            <a th:href="@{/customers}" class="btn btn-secondary">Back to Customer List</a>
        </div>
    </div>
</div>

<!-- Подключение Bootstrap JavaScript и jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
